<footer class="footer">
  <div class="email footer-content">
    <i class="fas fa-envelope  transition"></i>
  </div>
  <div class="in footer-content">
    <i class="fab fa-linkedin-in  transition"></i>
  </div>
  <div class="github footer-content">
    <i class="fab fa-github-alt  transition"></i>
  </div>
  <div class="instagram footer-content">
    <i class="fab fa-instagram  transition"></i>
  </div>
</footer>