<header>
  <nav class="nav">
    <ul class="navlist">
      <a href="/">
        <li id="home-tab">Home</li>
      </a>
      <a href="/gallery">
        <li id="gallery-tab">Gallery</li>
      </a>
      <a href="/about">
        <li id="about-tab">About</li>
      </a>
    </ul>
  </nav>
</header>