<section class="about">
  <h1>About Fender Guitars</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis repudiandae delectus, fuga laudantium vitae,
    voluptates quo atque eligendi deleniti illo minus ad, in pariatur odio laboriosam earum! Nulla, animi autem!</p>
  <div class="logo b-radius">
    <a href="/">
      <img src="./media/fender.png" alt="fender logo">
    </a>
  </div>
  <div class="contact">
    <i class="fab fa-2x fa-github-alt"></i>
    <i class="fab fa-2x fa-twitter"></i>
    <i class="fas fa-2x fa-user-circle"></i>
  </div>
</section>