<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="./css/home.css" />
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.8.1/js/all.js"
      integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ"
      crossorigin="anonymous"
    ></script>
    <script src="./js/galleryDOM.js" type="module"></script>
    <title>The Guitar Gallery</title>
  </head>
  <body class="body">
    <header>
      <nav class="nav">
        <ul class="navlist">
          <a href="/home.html"><li>Home</li></a>
          <a href="/gallery.html"><li>Gallery</li></a>
          <a href="/about.html"><li>About</li></a>
        </ul>
      </nav>
    </header>
    <section class="section">
      <header class="section-header">
        <h1>gallery</h1>
      </header>
      <div id="gallery" class="img-container">
        <i id="next-img" class="fas fa-chevron-left arrow-left arrow"></i>
        <i id="prev-img" class="fas fa-chevron-right arrow-right arrow"></i>
      </div>
    </section>
  </body>
</html>
