<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="./css/home.css" />
    <script src="./js/homeDOM.js" type="module"></script>
    <title>The Guitar Gallery</title>
  </head>
  <body class="body">
    <header>
      <nav class="nav">
        <ul class="navlist">
          <a href="./home.html"><li>Home</li></a>
          <a href="./gallery.html"><li>Gallery</li></a>
          <a href="./about.html"><li>About</li></a>
        </ul>
      </nav>
    </header>
    <section class="section">
      <header class="section-header">
        <h1>welcome to the fender gallery</h1>
      </header>
      <div class="img-container"></div>
      <button id="learn-more" class="btn">
        read more
      </button>
      <span id="section-content" class="section-content"
        >Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis
        expedita explicabo impedit officiis sint aliquid a ipsa modi veniam id,
        dolorem enim maxime eum delectus reprehenderit ipsum odit, atque
        aperiam?</span
      >
    </section>
  </body>
</html>
